<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        <li>{{ .Name}} Id#: {{.ID}}</li>
        <li>{{.Cost}}</li>
        <li>
            Specs
            <ul>
                <li>Size: {{.Specs.Size}}</li>
                <li>Weight: {{.Specs.Weight}}</li>
                <li>Description: {{.Specs.Desc}}</li>
            </ul>
        </li>
    </ul>
</body>
</html>